Source: ros-jazzy-dolly
Section: misc
Priority: optional
Maintainer: Louise Poubel <burajiru.no.chapulina@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-dolly
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-dolly-follow, ros-jazzy-dolly-gazebo, ros-jazzy-dolly-ignition, ros-jazzy-ros-workspace
Description: Meta-package for Dolly, the robot sheep.
